<!-- cart.html (mshop project) -->
{% extends "base.html" %}
{% block title %}查看购物车{% endblock %}
{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>欢迎光临迷你小电商</h3>
                        {% if user.socialaccount_set.all.0.extra_data.name %}
                            {{user.socialaccount_set.all.0.extra_data.name}}<br/>
                            <img src='{{user.socialaccount_set.all.0.get_avatar_url}}' width='100'>
                        {% else %}
                            Welcome: {{ user.username }}
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <div class='panel panel-info'>
                <div class='panel panel-heading'>
                    <h4>我的购物车</h4>
                </div>
                <div class='panel panel-body'>
                    {% for item in cart %}
                    {% if forloop.first %}
                    <table border=1>
                        <tr>
                            <td width=300 align=center>产品名称</td>
                            <td width=100 align=center>单价</td>
                            <td width=100 align=center>数量</td>
                            <td width=100 align=center>小计</td>
                            <td width=100 align=center>删除</td>
                        </tr>
                    {% endif %}
                        <div class='listgroup'>
                            <div class='listgroup-item'>
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td align=right>{{ item.product.price }}</td>
                                    <td align=center>{{ item.quantity }}</td>
                                    <td align=right>{{ item.total_price }}</td>
                                    <td align=center>
                                        <a href='{% url "removeitem-url" item.product.id %}'><span class='glyphicon glyphicon-trash'></span></a>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    {% if forloop.last %}
                    </table>
                    <a href='/order'>我要订购</a>
                    {% endif %}
                    {% empty %}
                        <em>购物车是空的</em>
                    {% endfor %}
                </div>
                <div class='panel panel-footer'>
                    总计：{{ cart.summary }}元
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
