<!-- index.html (mshop project) -->
{% extends "base.html" %}
{% block title %}迷你小电商{% endblock %}
{% block content %}
{% load mvote_extras %}
<div class='container'>
    {{today}}
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>欢迎光临迷你小电商<br>【{{category.name | default:"全部产品"}}】</h3>
                    {% if user.is_authenticated %}
                        {% if user.socialaccount_set.all.0.extra_data.name %}
                            {{user.socialaccount_set.all.0.extra_data.name}}<br/>
                            <img src='{{user.socialaccount_set.all.0.get_avatar_url}}' width='100'>
                        {% else %}
                            Welcome: {{ user.username }}
                        {% endif %}
                    {% else %}
                        <p>欢迎使用Facebook注册/登录你的账号才能购买本站优惠商品（教学测试用）。</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        {% if products.has_previous %}
            <a href='?p={{ products.previous_page_number }}'>上一页</a>
        {% endif %}
        <button class="btn btn-info">
             <a>{{ products.number }}</a>
        </button>
        {% if products.has_next %}
            <a href='?p={{ products.next_page_number }}'>下一页</a>
        {% endif %}
    </div>
    {% load account %}
    {% for product in products %}
        {% cycle '<div class="row">' '' '' '' %}
        <div class='col-xs-3 col-sm-3 col-md-3'>
            <div class='thumbnail'>
                <img src='{{product.image.url}}'>
                <div class='caption'>
                    <h4><a href='{% url "product-url" product.id %}'>{{ product.name }}</a></h4>
                    <p>NT$ {{product.price }}</p>
                    <p>库存：{{product.stock}}</p>
                    {% if user.is_authenticated %}
                    <button class="btn btn-primary">放入购物车</button>
                        <a href='{% url "additem-url" product.id 1 %}'>放入购物车</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% cycle '' '' '' '</div>'%}
    {% empty %}
        <div class='row'>
            <div class='col-sm-12' align='center'>
                <h3>此分类目前没有任何商品</h3>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
